:root {
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    display:flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
ul{
    display: flex;
    justify-content: end;
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--lighting-color);
  }
  .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: white;
  }
  ul {
    list-style: none;
  }
  section {
    scroll-margin-top: 50px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  nav ul {
    display: flex;
    gap: 1rem;
  }
  nav li {
    font-size: 1.8rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;
  }
 
  .logo {
    font-size: 2rem;
    font-weight: 700;
  }
  
  #hero {
    background: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 4px solid var(--lighting-color);
    max-height: 100vh;
  }
  #hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  image{
    clip-path: circle(100px);
  }