body{
    background-color: lightblue;
    --bg-image: url(../rv.jpg);
   --bg-image-op: .09;
}
a{
    color: darkorange;
}


header{
    text-align: center;
}
body::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: var(--bg-image-op);
    background-image: var(--bg-image);
    background-position: center;
    

}
