body{
   background: lightgray;
   --bg-image: url(../rv.jpg);
   --bg-image-op: .20;
}
#veg{
    color: darkgreen;
}
#veg-s{
    color: darkgreen;
}
#non{
    color: red;
}
#non-s{
    color: red;
}
body::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: var(--bg-image-op);
    background-image: var(--bg-image);
    background-position: center;
    

}